* {
  margin: 0px;
  padding: 0px;
}

body {
  // esse caminho de código deve ser pensado em relação ao style.css
  background-image: url(../images/backgroundLp.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

//por algum motivo o bootstrap estava ignorando as classes então usei id msm
#container1 {
  color: white;
  background-color: $container-backgroud-color;
  width: 450px;
  height: auto;
}

.topLogo {
  width: 185px;
}

.paragrafh {
  margin: 8px 0px;
}

#btnSucess {
  color: $button-color;
  border: 1px solid $button-color;

  &:hover {
    background-color: $button-color;
    color: white;
  }
}

.footer {
  margin-top: 30px;
  margin-bottom: -30px;
  color: white;
}

@media (max-width: 485px) {
  #container1 {
    width: auto;
  }
}
