* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #292929;
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  gap: 8px 15px;
  flex-wrap: wrap;
}

#logo-OneBitCode {
  width: 180px;
}

.button {
  display: flex;
  gap: 20px;
}

.bHeader {
  color: white;
  background-color: transparent;
  font-size: 15px;
  padding: 6px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.4s;
}

.bHeader:hover {
  border-bottom: 2px solid black;
}

.tittle-text {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 20px;
}

.paragraph-text {
  text-align: center;
  color: #383838;
}

.container-box {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "main-container sidebar-container";
  padding: 20px;
  flex: 1 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: main-container;
}

.card {
  width: 280px;
  height: 380px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  border: 2px solid black;
}

.card-img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.card-tittle {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
}

.card-text {
  padding: 6px;
}

.sidebar-container {
  background-color: #383838;
  border-radius: 10px;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  grid-area: sidebar-container;
  gap: 20px;
}

.sidebar-card {
  width: 75%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.sidebar-card:hover {
  border-color: gainsboro;
}

.sidebar-img {
  width: 100%;
  border-radius: 10px;
}

.sidebar-tittle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px 0px;
}

footer {
  background-color: #292929;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  gap: 15px;
}

.footer-anchor {
  color: white;
  text-decoration: none;
}

@media (max-width: 630px) {
  .container-box {
    grid-template-areas:
      "main-container"
      "sidebar-container";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sidebar-container {
    min-width: auto;
  }

  .footer-anchor {
    font-size: 19px;
  }
}

@media (max-width: 630px) {
  header {
    justify-content: center;
  }

  footer {
    justify-content: center;
  }
}
