@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap");

body {
  margin: 0px;
}

.post h1 {
  font-family: "Montserrat", Arial;
}

.post .date {
  font-family: "Roboto", Arial;
  color: #008080;
  margin: 0px;
}

.post-container {
  background-color: #fffafa;
  margin: 0px auto 0px auto;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 70%;
  height: 100%;
}

.post-container .post {
  margin-left: 50px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
}

.post .post-p {
  font-family: "Open Sans", sans-serif;
  width: 90%;
}

hr {
  margin: 0;
}
